:root {
    /* General Styles */
    --background: rgb(27 13 43);
    --body-text: #d9d9d9;
    --exit-modal-color: #dfe3e9;
    --error-color: #ff8a80;
    --header-text: #fafafa;
    --info-border: #ffffff;
    --link-text: #8c9eff;
    --pie-chart-color: #b388ff;
    --token-balance-text: #d9d9d9;
    --warning: #ff8a80;
    --address-color: #82b1ff;
    --info: #ffc780;

    /* Input Fields */
    --input-text: #d9d9d9;
    --input-placeholder-text: #90a4ae;
    --input-hover-background: rgba(0, 0, 0, 0.08);
    --input-hover-placeholder-text: #818187;
    --input-hover-border: #4c5480;

    /* Button Styles */
    --button-text: #d9d9d9;
    --button-background: #536dfe;
    --button-border: #3d5afe;
    --inactive-button-border: rgba(140, 158, 255, 0.2);
    --inactive-button-text: rgba(255, 255, 255, 0.6);

    /* Fonts */
    --roboto: 'Roboto', sans-serif;

    /* Panel Styles */
    --panel-border: #41476b;
    --panel-background: rgb(27 13 43);
    --panel-hover-border: #4c5480;
    --panel-hover-background: rgba(27 13 43, 0.9);
    --panel-header-background: rgb(27 13 43);

    /* Selector Styles */
    --highlighted-selector-background: rgba(0, 0, 0, 0.08);
    --highlighted-selector-border: #7785d5;
    --highlighted-selector-text: #ffffff;
    --selector-background: rgba(255, 255, 255, 0.08);
    --selector-border: #41476b;
    --selector-text: #fafafa;
}

body {
    background: var(--background);
    background-image: url('./assets/images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.app-shell {
    margin-top: 60px;
}

#root::-webkit-scrollbar {
    display: none;
}

.popup-content {
    color: var(--background);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.web3modal-modal-card,
.web3modal-provider-container {
    background-color: var(--panel-background);
}

.web3modal-modal-wrapper,
.web3modal-provider-container:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.web3modal-provider-wrapper:hover .web3modal-provider-container {
    background-color: rgba(0, 0, 0, 0.1) !important;
}
